.first-work{
    background-image: url('../../public/static-files/ourwork/bg1.png');
    height: 100vh;
    background-size: cover;
}
.second-work{
    background-image: url('../../public/static-files/ourwork/bg1.png');
    height: 100vh;
    background-size: cover;
}
.third-work{
    background-image: url('../../public/static-files/ourwork/bg1.png');
    height: 100vh;
    background-size: cover;
}
.fourth-work{
    background-image: url('../../public/static-files/ourwork/bg1.png');
    height: 100vh;
    background-size: cover;
}