.top-banner{
    background-image: url('../../public/static-files/top-hero/bg.png');
    height: 100vh;
    background-size: cover;
}

@font-face {
    font-family: Jaapokkisubtract;
    src: url('../fonts/Jaapokkisubtract.otf');

    
}

@font-face {
    font-family: rota;
    src: url('../fonts/Rota/Rota-Light.otf');
}
@font-face {
    font-family: rota-bold;
    src: url('../fonts/Rota/Rota-Bold.otf');
}
@font-face {
    font-family: quasimoda;
    src: url('../fonts/Quasimoda/quasimoda.otf');
}

.innovative-agency{
    font-family: Jaapokkisubtract;
}

.rota-font{
    font-family: rota;
}
.rota-bold{
    font-family: rota-bold;
}

.quasimoda{
    font-family: quasimoda;
}